.made-simple {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 5rem;

  }

  &__paragraph {
    width: 40%;
  }

  &__items,
  &__navigation {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  &__navigation {
    margin-top: 1rem;
  }

  .arrow {
    max-width: 1.5rem;
  }

  .dots {
    &--left-bottom {
      width: 8rem;
      position: absolute;
      left: -7rem;
      bottom: 34rem;
    }

    &--right-top {
      width: 8rem;
      position: absolute;
      right: -8rem;
      top: 187rem;
      transform: rotate(30deg);
    }
  }
}