.button--submit-auth-form {
  background-color: #e174d8 !important;
  border: none !important;
  margin: 0 !important;
  padding: 0.5rem !important;

  i {
    color: #fefefe !important;
    font-size: 1.5rem;
  }
}

.link {
  color: #0e0e26;
  font-size: 0.8rem;
}