@import "../variables";

.gradient--purple {
    background: #593656;
    background: -webkit-linear-gradient(to bottom, #2e253a, #482b47);
    background: linear-gradient(to bottom, #2e253a, #482b47);
}