.headline {
  font-size: 6rem;
  text-align: center;

  &--orange {
    color: $--orange;
  }

  &--beige {
    color: $--beige;
  }
}

.paragraph {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.3;
  padding: 1.5rem 8rem;

  &--beige {
    color: $--beige;
  }
}